.container {
  padding: 10%;
}

.p {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 50px 0px 25px 0px;
  margin: 0;
}

.button {
  background-image: linear-gradient(to right, #495DFB, #1840D2);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  font-weight: bold;
  /* transform: scale(1); */
}